## <center>**Python Assignment 3**</center>

### Question 1.1 Write a Python Program to implement your own myreduce()function which works exactly like Python's built-in function reduce()

In [1]:
l1 = [1,2,3,4]

In [2]:
# Default Reduce Function
from functools import reduce
reduce((lambda a, b : a + b), l1)

10

In [3]:
# My Reduce Function
def myReduce(myfunctn, sequence):
  result = 0
  for item in sequence[0:]:
    result = myfunctn(result, item)
  return result

In [ ]:
# Function to add two numbers
def add(x,y): 
  return x + y

In [4]:
# Calling my reduce function
myReduce(add, l1)

10

### Question 1.2 Write a Python program to implement your own myfilter() function which works exactly like Python's built-in function filter()

In [5]:
l2 = [4, 2, 1, 5, "abc"]

In [6]:
# Default filter function
list(filter(lambda a:a if type(a) == str else False, l2))

['abc']

In [7]:
# My Filter function
def myFilter(myfunc, sequence):
  result = []
  for item in sequence:
    if myfunc(item):
      result.append(item)
  return result

In [8]:
# Function that checks if the given input is a string or not, if it is a string, it will return True else False
def isString(x):
  if (type(x) == str):
    return True
  else:
    return False

In [9]:
# Calling myFilter function
list(myFilter(isString, [0,1,-2,3,4,5, "abc"]))

['abc']

### Question 2. Implement List comprehensions to produce the following lists. Write List comprehensions to produce the following Lists

1. ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [10]:
list1 = lambda input : [i*j for i in input for j in range(1,5)]

In [11]:
list1('xyz')

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

2. ['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [12]:
list2 = lambda input : [i*j for i in range(1,5) for j in input]

In [13]:
list2('xyz')

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

3. [[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [14]:
list3 = lambda start, total_numbers : [[i+j] for i in range(start-1,total_numbers+1) for j in range(start-1, total_numbers+1)]

In [15]:
list3(start = 2, total_numbers = 3)

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

4. [[2, 3, 4, 5], [3, 4, 5, 6],
[4, 5, 6, 7], [5, 6, 7, 8]]

In [16]:
list4 = lambda input_list : [[i+j for i in input_list] for j in input_list]

In [17]:
list4([1,2,3,4])

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

5. [(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [18]:
list5 = lambda input_list : [(j,i) for i in input_list for j in input_list]

In [19]:
list5([1,2,3])

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]